{% extends "::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="widgetButtons">
                <div class="bb">
                    <a href="{{ path('fos_user_security_login') }}" class="tipb" title="Login">
                        <span class="ibw-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-danger text-center" role="alert">{{ 'resetting.password_already_requested'|trans }}</div>
{% endblock fos_user_content %}
