{% extends "::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="widgetButtons">
                <div class="bb">
                    <a href="{{ path('dashboard_homepage') }}" class="tipb" title="Inicio">
                        <span class="ibw-home"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success text-center" role="alert">
        {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
        {% if app.session is not empty %}
            {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
            {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
        {% endif %}
    </div>

{% endblock fos_user_content %}
