{% extends "::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}{{ 'title.change_password'|trans }}{% endblock %}
{% block header %}<h1>{{ 'title.change_password'|trans }}</h1>{% endblock %}
{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
